@model AeternumGenomix.Models.Request 

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <form name="translate" method="POST"
              enctype="multipart/form-data"
              asp-action="Valid" asp-controller="Home">
            <input type="file" name="jsonFile"/>
            <p id="listKeys"></p>
            <input type="submit" value="Valider" name="valider" />
        </form>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
